@charset "UTF-8";
body h1{
  color: #FB8108;
  font-family: "Hiragino Sans","Hiragino Kaku Gothic ProN", Meriyo, sans-serif;
  font-size: 40px;
}

.key{
  color: #F3F8#0;
  background-color: #0046F9;
  font-size: x-large;
}

body p img{
  border: 10px dotted #00FA43;
}

body{
   background-image: url(VCD.jpg);
  background-repeat: no-repeat;
  background-size: 100% 250%;
}
